<h3 class="footer">Forecast</h3>
<div>
  <table>
    <tbody>
      <tr>
        <td>Day</td>
        <td>{{forecast.Day.IconPhrase}}</td>
      </tr>
      <tr>
        <td>Night</td>
        <td>{{forecast.Night.IconPhrase}}</td>
      </tr>
      <tr>
        <td>Minimum Temperature</td>
        <td>{{forecast.Temperature.Minimum.Value}} {{forecast.Temperature.Minimum.Unit}}</td>
      </tr>
      <tr>
        <td>Maximum Temperature</td>
        <td>{{forecast.Temperature.Maximum.Value}} {{forecast.Temperature.Minimum.Unit}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="footer" *ngIf="!resultFound()">
  <h1>{{ msg || 'Failed to get weather.'}}</h1>
</div>