<header>
  <app-header [loc]="loc"></app-header>
</header>
<main *ngIf="resultFound()">
  <div>
    <p class="temp"><i>{{weatherData.Temperature.Metric.Value}}</i><sup><sup>o</sup>{{weatherData.Temperature.Metric.Unit}}</sup></p>
    <label>{{weatherData.WeatherText}}</label>
    <p class="weather-condition">
      <!-- <app-weather-detail [weather]="weather"></app-weather-detail> -->
    </p>
    <div class="forecast">
      <button class="btn" routerLink="/forecast">forecast</button>
    </div>
  </div>
</main>
<footer routerLink="/city"><button>+</button></footer>